{% load i18n %}
{% load static %}

{% load compress %}

{% load common_tags %}
{% load navigation_tags %}
{% load notifications_tags %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="Content-Language" content="{{ LANGUAGE_CODE }}" />
        <title>
            {% block base_title %}
                {% block title %}{% endblock %} :: {% block project_name %}{% project_name %}{% endblock %}
            {% endblock base_title %}
        </title>

        {% compress css %}
            <link href="{% static 'appearance/packages/font-awesome-4.3.0/css/font-awesome.min.css' %}" media="screen" rel="stylesheet" type="text/css" />
            <link href="{% static 'appearance/packages/bootstrap-3.3.4-dist/css/bootstrap.min.css' %}" media="screen" rel="stylesheet" type="text/css"  />
            <link href="{% static 'appearance/packages/bootswatch.com/flatly/bootstrap.min.css' %}" media="screen" rel="stylesheet" type="text/css" />
            <link href="{% static 'appearance/packages/animate/animate.css' %}" media="screen" rel="stylesheet" type="text/css" />
            <link href="{% static 'appearance/packages/fancyBox-master/source/jquery.fancybox.css' %}" media="screen" rel="stylesheet" type="text/css" />
            <link href="{% static 'appearance/css/base.css' %}" media="screen" rel="stylesheet" type="text/css" />
            {% block stylesheets %}{% endblock %}

        {% endcompress %}
    </head>
    <body>
        {% if appearance_type == 'plain' %}
            {% block content_plain %}{% endblock %}
        {% else %}
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">{% trans 'Toggle navigation' %}</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        {# TODO: don't use hardcoded main:home use settings.LOGIN_REDIRECT_URL #}
                        <a class="navbar-brand" href="{% url 'common:home' %}">{% project_name %}{% if debug %} <i class="fa fa-bug"></i>{% endif %}</a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            {% get_menu_links 'main menu' as menu_links %}
                            {% for link_set in menu_links %}
                                {% for link in link_set %}
                                    {% with 'true' as as_li %}
                                    {% with 'true' as hide_active_anchor %}
                                    {% with 'active' as li_class_active %}
                                    {% with 'first' as li_class_first %}
                                    {% with ' ' as link_classes %}
                                        {% include 'navigation/generic_subnavigation.html' %}
                                    {% endwith %}
                                    {% endwith %}
                                    {% endwith %}
                                    {% endwith %}
                                    {% endwith %}
                                {% endfor %}
                            {% endfor %}
                        </ul>

                        <ul class="nav navbar-nav navbar-right">
                            <!-- {% notifications_unread as unread_count %} -->

                            <!-- <li id="notify-row"><a href="#notify-modal" data-toggle="modal" data-target="#notify-modal">Notifications<span id="live_notify_badge" class="badge"></span></a></li> -->
                            <li id="notify-row"><a href="#notify-modal" data-toggle="modal" data-target="#notify-modal"><span id="live_notify_badge" class="badge"></span></a></li>

                            {% if request.user.is_superuser %}
                                <li><a href="{% url 'common:setup_list' %}" title="{% trans 'Setup' %}"> <i class="fa fa-gear"></i></a></li>
                            {% endif %}

                            {% if not user.is_authenticated %}
                                {% trans 'Anonymous' %}
                            {% else %}
                                <li><a href="{% url 'common:current_user_details' %}" title="{% trans 'User details' %}">{{ user.get_full_name|default:user }} <i class="fa fa-user"></i></a></li>
                            {% endif %}
                        </ul>
                    </div>


                </div>
            </nav>

            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        {% for message in messages %}
                            <div class="animated fadeInDown alert alert-dismissible alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %}">
                                <button type="button" class="close">×</button>
                                <h4>{% if 'success' in message.tags %}{% trans 'Success' %}{% elif 'info' in message.tags %}{% trans 'Information' %}{% elif 'warning' in message.tags %}{% trans 'Warning' %}{% else %}{% trans 'Error' %}{% endif %}</h4>
                                <p>{{ message }}</p>
                            </div>
                        {% endfor %}

                        {% block messages %}{% endblock %}
                    </div>
                </div>

                {% get_menus_links names='object menu,sidebar menu,secondary menu' as links %}
                {% get_menu_links 'object facet' as form_navigation_links %}

                <div class="row">
                    {% if links or form_navigation_links %}
                        <div class="col-xs-8 col-sm-8 col-md-10 col-lg-10">
                    {% else %}
                        <div class="col-xs-12">
                    {% endif %}
                        {% block content %}{% endblock %}
                        {% block footer %}{% endblock %}
                    </div>

                    {% if links or form_navigation_links %}
                        <div class="col-xs-4 col-sm-2 col-md-2 col-lg-2">
                    {% endif %}

                    {% if links %}
                        <div class="pull-right btn-group" style="margin-bottom: 10px;">
                            <button aria-expanded="true" type="button" class="btn btn-danger btn-sm dropdown-toggle" data-toggle="dropdown">
                                {% trans 'Actions' %}
                                <span class="sr-only">{% trans 'Toggle Dropdown' %}</span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                {% for links_set in links %}
                                    {% for entry in links_set %}
                                        <li><a class="btn-sm" href="{{ entry.url }}">{{ entry.text }}</a></li>
                                    {% endfor %}

                                    {% if not forloop.last and links_set %}
                                        <li class="divider"></li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                         <div class="clearfix visible-xs-block visible-sm-block visible-md-block visible-lg-block"></div>
                    {% endif %}

                    {% if form_navigation_links %}
                        <div class="pull-right list-group">
                            {% if form_navigation_links %}
                                {% for object_navigation_links in form_navigation_links %}
                                    {% with 'true' as hide_active_anchor %}
                                    {% with 'active' as link_class_active %}
                                    {% with 'list-group-item btn-sm' as link_classes %}
                                        {% include 'navigation/generic_navigation.html' %}
                                    {% endwith %}
                                    {% endwith %}
                                    {% endwith %}
                                {% endfor %}
                            {% endif %}
                        </div>
                    {% endif %}

                    {% if links or form_navigation_links %}
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endif %}

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

        <div class="modal fade" id="notify-modal" tabindex="-1" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">You have notifications</h4>
              </div>
              <div class="modal-body">                
                <ul id="live_notify_list"></ul>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" id="mark-all-read" class="btn btn-primary">Mark all as read</button>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->


        {% compress js %}
        <script type="text/javascript" src="{% static 'appearance/packages/jquery-2.1.4.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'appearance/packages/bootstrap-3.3.4-dist/js/bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'appearance/packages/jquery.scrollview.js' %}"></script>
        <script type="text/javascript" src="{% static 'appearance/packages/jquery_lazyload-master/jquery.lazyload.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'appearance/packages/fancyBox-master/source/jquery.fancybox.pack.js' %}"></script>
        <script type="text/javascript" src="{% static 'appearance/packages/fancyBox-master/lib/jquery.mousewheel.pack.js' %}"></script>
        <script type="text/javascript" src="{% static 'appearance/js/base.js' %}"></script>

        {% endcompress %}

        <script type="text/javascript">
            $("#mark-all-read").click(function() {
               $.ajax({
                        url: "/inbox/notifications/mark-all-as-read/",
                        type: 'GET',
                        dataType : 'json',
                        cache: false,
                        success: function(result) {                            
                            //console.log("status received: " + result.status)                            
                            $("#notify-row").hide();
                          },
                            error: function(xhr, errStatus, errString) {
                                alert(xhr.status);
                                alert(xhr.responseText);
                                alert("errorstatus :"+errStatus+" ,errorstring: "+errString);
                            }
                            });

               $("#notify-modal").modal('toggle');
               });

                $("#live_notify_list").on('click', 'li a', function() {
                        $(this).css('color', 'brown');
                });

                function my_callback(data) {
                /*
                   if (data.unread_count == 0) {
                       $("#notify-row").hide();
                    }
                   else {
                       $("#notify-row").show();
                    }
                */
        
                }
            </script>
        {% block javascript %}
            <script src="{% static 'notifications/notify.js' %}" type="text/javascript"></script>
            {% register_notify_callbacks callbacks='fill_notification_list, fill_notification_badge, my_callback' refresh_period=15 %}
        {% endblock %}

    </body>
</html>
